<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <%- include('./partials/styles/addBlog') %>
  <title>Add New Blog</title>
</head>
<body>
    <% if (locals.error) { %>
        <div class="alert alert-danger mt-3"><%= error %></div>
    <% } %>
  <div class="glass-form mt-4">
    <h3 class="text-center mb-4">Add New Blog</h3>
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImage" name="coverImage" accept="image/*" required>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" id="body" name="body" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
  

  <%- include('./partials/script') %>
</body>
</html>
