<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <%- include('./partials/styles/signin') %>
    <title>SignIn</title>
</head>
<body>
    <div class="glass-form mt-5">
        <h3 class="text-center mb-4">Sign In</h3>
        <form action="/user/signin" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">Sign In</button>
        </form>
    </div>

    <%- include('./partials/script') %>
</body>
</html>
